
<div class="row row-eq-height">
    <div class="col-md-6">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Hello, visitor!
            <span class="text-muted">We've been watching how people all over the world interact with Wikipedia since <span class="highlighted"> {{ origin*1000 | date: 'longDate' }}</span> and we've got some cool statistics to show you...</span>
        </h2>
        <p class="lead">
            So far, we've seen a total of <span class="highlighted">{{ all_edits | number}}</span> edits (and this number is getting bigger and bigger as you read this text! Only in the last 30 seconds, for example, <span class="highlighted-streaming">{{ stream_all_edits | number}}</span> new edits were performed - <span class="highlighted-streaming">{{ stream_minor_edits | number}}</span> of them marked as minor). An edit means someone changed some page. Some of these edits are minor edits, used for control and admin tasks only. In our data, there are <span class="highlighted">{{all_edits - minor_edits| number}}</span> major edits, accounting for <span class="highlighted">{{100*(all_edits - minor_edits)/all_edits | number :1}}%</span> of all edits.
        </p>

        <p class="lead">
            All those edits were performed by <span class="highlighted">{{ distinct_editors | number }}</span> different editors (excluding bots) on a total of <span class="highlighted">{{ distinct_pages | number}}</span> different pages! This gives us  <span class="highlighted">{{(all_edits - minor_edits)/distinct_editors | number :2  }}</span> edits per user.
        </p>
    </div>
    <div class="col-md-6">
        <wiki-pie pie-data="edits"></wiki-pie>
    </div>
</div>


<hr class="featurette-divider">

<div class="row">
    <div class="col-md-4">
        <a href="images/Twitter_logo_blue.png">
            <img class="img-responsive pull-left" src="images/Twitter_logo_blue.png">
        </a>
    </div>
    <div class="col-md-8">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">How big are the edits?</h2>
        <p class="lead">Wikipedia edits have <span class="highlighted">{{ average_size }}</span> characters in average. That's a little bit bigger than a tweet!</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-8">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">What about different languages?</h2>
        <p class="lead">There are reportedly <span class="highlighted">280</span> active different languages Wikipedias. Despite that, we've seen edits in <span class="highlighted">{{ distinct_servers }}</span> different languages since the start of our inspection, accounting for <span class="highlighted">{{100*distinct_servers/280 | number :1}}%</span> of the active languages</p>
    </div>
    <div class="col-md-4">
        <a href="images/Twitter_logo_blue.png">
            <img class="img-responsive pull-left" src="images/wikipedia-languages.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
    <h3>Now, let's see some cool pictures?</h3>
</div>

<div id="idioms"></div>

<hr class="featurette-divider">

<h1>Most Frequent Languages</h1>

<ranking ranking-data="idioms" ranking-metric="count"  ranking-label="server" ranking-title="Number of edits: "></ranking>

<div id="pages"></div>

<hr class="featurette-divider">

<h1>Most Edited Pages</h1>

<ranking ranking-data="pages" ranking-metric="count"  ranking-label="page" ranking-title="Number of edits: "></ranking>

<hr class="featurette-divider">

<h1>Most Edited Content Pages</h1>

<ranking ranking-data="pages_content" ranking-metric="count"  ranking-label="page" ranking-title="Number of edits: "></ranking>

<hr class="featurette-divider">

<div id="editors"></div>

<h1>Most Active Editors</h1>

<ranking ranking-data="editors" ranking-metric="count"  ranking-label="user" ranking-title="Number of edits: "></ranking>

<h4 style="line-height: 40px;">All the information you've just read was derived from a <span class="highlighted">{{ input_size | bytes}}</span> dataset of Wikipedia edits by using a total of <span class="highlighted">{{ total_executor_cores }}</span> cores to execute an Apache Spark script which took an overall time of <span class="highlighted">{{ batch_elapsed_time }}</span> to finish its last batch execution. Check this page in about 30 minutes to see updated statistics.</h4>
