<div class="row row-eq-height ng-scope">
	<div class="col-md-6">
		<!--<span class="glyphicon glyphicon-question-sign"></span>-->
		<h2 class="featurette-heading">{{ 'INIT_HELLO' | translate }}
		<br/>
		<br />
		<span class="text-muted">{{ 'PAR_1_1' | translate }} <span class="highlighted"> {{ origin*1000 | date: 'longDate' }} </span> {{ 'PAR_1_2' | translate }} </span></h2>
		<p class="lead">
			{{ 'PAR_2_1' | translate }}<span class="highlighted">{{ all_edits | number }}</span>
			{{ 'PAR_2_2' | translate }}<span class="highlighted-streaming">{{ stream_all_edits | number }}</span>
			{{ 'PAR_2_3' | translate }}<span class="highlighted-streaming">{{ stream_minor_edits | number }}</span>
			{{ 'PAR_2_4' | translate }}<span class="highlighted">{{ all_edits - minor_edits| number }}</span>
			{{ 'PAR_2_5' | translate }}<span class="highlighted">{{ 100*(all_edits - minor_edits)/all_edits | number :1 }}%</span>
			{{ 'PAR_2_6' | translate }}
		</p>

		<p class="lead">
			{{ 'PAR_3_1' | translate }}<span class="highlighted">{{ distinct_editors_count | number }}</span>
			{{ 'PAR_3_2' | translate }}<span class="highlighted">{{ distinct_pages_count | number}}</span>
			{{ 'PAR_3_3' | translate }}<span class="highlighted">{{(all_edits - minor_edits)/distinct_editors_count | number :2  }}</span>
			{{ 'PAR_3_4' | translate }}
		</p>
	</div>
	<div class="col-md-6">
		<wiki-pie pie-data="edits"></wiki-pie>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-4">
		<a href="images/Twitter_logo_blue.png"> <img class="img-responsive pull-left" src="images/Twitter_logo_blue.png"> </a>
	</div>
	<div class="col-md-8">
		<!--<span class="glyphicon glyphicon-question-sign"></span>-->
		<h2 class="featurette-heading">{{ 'PAR_4_1' | translate }}</h2>
		<p class="lead">
			{{ 'PAR_4_2' | translate }}<span class="highlighted">{{ sum_length/ all_edits | number :2 }}</span>
			{{ 'PAR_4_3' | translate }}
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-8">
		<!--<span class="glyphicon glyphicon-question-sign"></span>-->
		<h2 class="featurette-heading"> {{ 'PAR_5_1' | translate }} </h2>
		<p class="lead">
			{{ 'PAR_5_2' | translate }} <span class="highlighted">280</span> {{ 'PAR_5_3' | translate }} <span class="highlighted"> {{ distinct_servers_count }} </span>{{ 'PAR_5_4' | translate }} <span class="highlighted"> {{ 100*distinct_servers_count/280 | number :1 }}% </span> {{ 'PAR_5_5' | translate }}
		</p>
	</div>
	<div class="col-md-4">
		<a href="images/Twitter_logo_blue.png"> <img class="img-responsive pull-left" src="images/wikipedia-languages.png"> </a>
	</div>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
	<h3>{{ 'PAR_6_1' | translate }}</h3>
</div>

<hr class="featurette-divider">

<h1>{{ 'PAR_6_2' | translate }}</h1>

<ranking ranking-data="idioms" ranking-metric="count"  ranking-label="idiom" ranking-title="Number of edits: "></ranking>

<hr class="featurette-divider">

<h1>{{ 'PAR_6_3' | translate }}</h1>

<ranking ranking-data="pages" ranking-metric="count"  ranking-label="page" ranking-title="Number of edits: "></ranking>

<hr class="featurette-divider">

<h1>{{ 'PAR_6_4' | translate }}</h1>

<ranking ranking-data="pages_content" ranking-metric="count"  ranking-label="page" ranking-title="Number of edits: "></ranking>

<hr class="featurette-divider">

<h1>{{ 'PAR_6_5' | translate }}</h1>

<ranking ranking-data="editors" ranking-metric="count"  ranking-label="user" ranking-title="Number of edits: "></ranking>